<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center-content">
  <ion-card class="login-card">
    <ion-card-content>
      <ion-list>
        <!-- Campo de Email -->
        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Email"
            type="email"
            placeholder="Ingresa tu email"
            [(ngModel)]="user.email"
          ></ion-input>
        </ion-item>

        <!-- Campo de Contraseña -->
        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Contraseña"
            type="password"
            placeholder="Ingresa tu contraseña"
            [(ngModel)]="user.password"
          ></ion-input>
        </ion-item>

        <!-- Botón de Iniciar Sesión -->
        <ion-button expand="block" class="btn-login" (click)="login()">
          Iniciar Sesión
        </ion-button>

        <!-- Enlace para Registrarse -->
        <ion-item lines="none" class="center-link">
          <ion-label>¿No tienes una cuenta?</ion-label>
          <ion-button fill="clear" routerLink="/registro" color="secondary">
            Regístrate aquí
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
