
ion-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    padding: 0; 
  }
  
  ion-card-content {
    background-color: #003459; 
    border-radius: 15px; 
    padding: 20px;
    width: 90%; 
    max-width: 400px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .btn-login {
    --background: #007EA7; 
    --background-hover: #00A8E8; 
    color: white; 
    border-radius: 10px; 
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-input {
    --placeholder-color: #999;
    --color: #fff;
    --border-color: #ccc;
  }
  
  ion-input:focus {
    --color: #00A8E8;
    --placeholder-color: #00A8E8; 
    --border-color: #00A8E8; 
  }
  

  ion-item ion-label {
    font-size: 0.9rem;
    color: #fff;
  }
  
  ion-item ion-button {
    color: #00A8E8; /* Estilo del botón de enlace */
  }
  
  /* Texto de error */
  ion-text {
    font-size: 0.9rem;
    color: #FF4D4D; /* Color rojo para los mensajes de error */
    text-align: center;
  }
  