<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="data && data.nombre">
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ data.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Aquí puedes mostrar más información del usuario -->
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!data || !data.nombre">
    <ion-card-header>
      <ion-card-title>Cargando...</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
