ion-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    padding: 0; 
  }
  
  ion-card-content {
    background-color: #003459; 
    border-radius: 15px; 
    padding: 20px;
    width: 90%; 
    max-width: 400px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .btn-register {
    --background: #007EA7; 
    --background-hover: #00A8E8; 
    color: white; 
    border-radius: 10px; 
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
  }
  